<header></header>

<div class="container">
	<h1>Unclaimed Items</h1>
	<h3>Select the ones that belong to you</h3>

<%= form_for @bill do |f| %>
  <%= hidden_field_tag "user_id", @user_id %>
  <%= hidden_field_tag "bill[id]", @bill.id %>

    <% @bill.items.each do |item| %>
      <div class="item <%= item.user_id && item.user_id == @user_id %>" >
				<label for="<%= item.id %>" class="css-label">
					<%= check_box_tag "bill[items][#{item.id}][user_id]", @user_id, item.user_id == @user_id, disabled: item.user_id && item.user_id != @user_id %>
					<%= label_tag("bill[items][#{item.id}][user_id]", item.item_description + " $" + (item.price.to_f / 100).to_s) %>
				</label>
      </div>
    <% end %>

		<div class="signature">
			<%= f.submit %>
			Brought to you by the <a href="http://checkmatesapp.com">CheckMates</a> app
		</div>
<% end %>
