<h1>This is your bill</h1>

<%= form_for @bill do |f| %>
<% p @bill.items %>
  <%= @bill.items.each do |item| %>
    <%= check_box_tag "bill[items][user_id]", value: @user_id %>
    <%= label_tag :item_description, :item_description %>
    <%= label_tag :price, (:price.to_f / 100).to_s %>
  <% end %>
  <%= f.submit %>
<% end %>